[[source]]
url = "https://index-aicoe.a3c1.starter-us-west-1.openshiftapps.com/centos7/1.9/cuda9.2+jemalloc/simple"
verify_ssl = true
name = "redhat-aicoe-experiments"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {version="==1.9.0", index="redhat-aicoe-experiments"}
numpy = "*"
matplotlib = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.6"
